@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Owners <a href="Owners">CLICK</a>.</p>
    <p>Products <a href="Products">CLICK</a>.</p>
    <p>VendingMachines <a href="VendingMachines">CLICK</a>.</p>
    <p>OwnersMachines <a href="OwnersMachines">CLICK</a>.</p>
</div>